---
# Copied from: rasa/dotfiles/.github/workflows/dependabot.yml
# EDIT THE ABOVE FILE, NOT THIS COPY, OR YOUR CHANGES WILL BE LOST!
# $schema https://json.schemastore.org/github-workflow.json

name: dependabot

on: # yamllint disable-line rule:truthy
  # See https://stackoverflow.com/a/74959635
  pull_request_target:
    branches:
      - main
      - master # @TODO remove
  push:
    branches:
      - main
      - master # @TODO remove
  workflow_call: # Required so this workflow can be called from another workflow
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: write

jobs:
  job:
    runs-on: ubuntu-latest
    # See https://github.com/dependabot/fetch-metadata?tab=readme-ov-file#enabling-auto-merge
    if: startsWith(github.event.pull_request.user.login, 'dependabot')
    steps:
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2.3.0

      - name: Enable auto-merge for Dependabot PRs
        # if: steps.dependabot-metadata.outputs.update-type == 'version-update:semver-patch'
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

