---
# From https://github.com/hoilc/scoop-lemon/blob/master/.github/workflows/make_index.yml
on:
  schedule:
    # Run daily at 00:59 UTC
    - cron: '59 0 * * *'
  workflow_dispatch:

name: update-readme

jobs:
  update-readme:
    name: update-readme
    # if: github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        # unused:
        # cache: 'pip' # caching pip dependencies

    - uses: actions/checkout@v4
    - run: |
        python makeindex.py

    - uses: EndBug/add-and-commit@v9
      with:
        add: 'README.md'
        # branch: master
        # author_name: Ross Smith II
        # author_email: ross@smithii.com
        message: 'chore: update app index [ci skip]'


# eof
